
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menu_top">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/dashboard}">Locadora</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			
			<form action="/logout" method="POST" class="nav navbar-nav navbar-right" style="margin-top: 15px; margin-right: 10px;">
				  <span style="color: white; margin-right: 20px;">Bem vindo, Sr. <span class="hidden-xs" th:text="${#authentication.name}"></span></span>
				<button type="submit" class="btn btn-xs btn-warning">
						<span class="glyphicon glyphicon-log-out"> <strong style="text-overflow: clip;">Sair</strong></span>
				</button>
				 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			</form>
			</div>
		</div>
	</nav>

</div>
</html>