
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<div class="modal fade" id="exclusaoUsuario" tabindex="-1"  data-keyboard="false" data-backdrop="static">

	<div class="modal-dialog">
	
		<form th:attr="data-url-base='/delete'" th:action="@{/delete}" method="GET">
			
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel"><strong>Remover Usuário</strong></h3>
				</div>
		
				<div class="modal-body">
					<span>Tem certeza que deseja excluir o usuário ?</span>
				</div>
		
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>
			</div>

		</form>
	</div>

</div>


</html>
